{% extends "base.html" %}
{% load static %}
{% block extra_head %}
<style type="text/css">
  .alert-message {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    background: var(--dark-green);
    color: #fff;
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.5s ease; /* Длительность анимации */
    z-index: 1000;
  }

  .alert-message.show {
    opacity: 1;
  }
</style>
{% endblock %}
{% block title %}{{product.name}} | Hop & Barley{% endblock %}

{% block content %}
<main class="page-product">
  <div class="container">
    <!-- Product Info Section -->
    <section class="product-details-section">
      <div class="product-image-container">
        {% if product.image %}
        <img src="{{ product.image.url }}" alt="{{product.name}}" class="product-image">
        {% else %}
        <img src="{% static 'img/photo_coming_soon.jpg' %}" alt="Нет фото" class="product-image">
        {% endif %}
      </div>
      <div class="product-info-column">
        <div class="product-title-price">
          <h1 class="product-name">{{product.name}}</h1>
          <span class="product-rating">
          {% if avg_rating %} Average rating {{avg_rating|floatformat:1}}* ({{reviews_count}})
          {% else %} (Нет оценок) {% endif %}
          </span>
          <div class="price-section">
            <span class="price-tag">за {{product.weight|floatformat:0}} {{product.unit}}</span>
            <p class="product-price">{{product.price}} ₽</p>
          </div>
        </div>
        <div class="product-description">
          <p>{{product.description}}</p>
        </div>
        {% if product.stock > 0 %}
        <div class="cart-controls">
          <div style="padding-bottom: 8px;">Доступно к заказу: {{ product.stock }} ед.</div>
          <button onclick="addToCartTest(event, {{ product.id }});">ADD</button>
          <script>
            function addToCartTest(event, productId) {
                event.stopPropagation();
                event.preventDefault();
                alert(productId);
            }
            
          </script>
          <form action="{% url 'orders:cart_add' product.id %}" method="post">
            {% csrf_token %}
            <button type="button" class="button button--primary add-to-cart-button" onclick="addToCartButton(event);" id="add-to-cart-btn1">
              <i class="fa-solid fa-cart-shopping"></i>
              <span>Add to Cart</span>
            </button>
          </form>
          <div class="quantity-counter is-hidden">
            <button class="quantity-btn" aria-label="Decrease quantity" onclick="decreaseCartButton(event);"><i class="fa-solid fa-minus"></i></button>
            <span class="quantity-value">1 in cart</span>
            <button class="quantity-btn" aria-label="Increase quantity" onclick="increaseCartButton(event);"><i class="fa-solid fa-plus"></i></button>
          </div>
        </div>
          {% else %}
          <div class="out-of-stock">Out of stock</div>
          {% endif %}
      </div>
    </section>
<script>
  function addToCartButton(event) {
    addToCart(event, true);
  }
  
  function increaseCartButton(event) {
    addToCart(event, true);
  }
  function decreaseCartButton(event) {
    addToCart(event, false);
  }

  function addToCart(event, increase) {
    //event.stopPropagation();
    event.preventDefault();
    const myButton = document.getElementById('add-to-cart-btn1');
    //myButton.addEventListener('click', function() {
    const url = "{% url 'orders:cart_addAJAX' product.id %}";
    const csrfToken = '{{csrf_token}}';
    let quantity = 1;
    if (!increase) {
      quantity = -1;
    }

    fetch(url, {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json', // ОБЯЗАТЕЛЬНО
              'X-Requested-With': 'XMLHttpRequest',
              'X-CSRFToken': csrfToken
            },
            body: JSON.stringify({
              quantity: quantity,
            })
    })
    .then(response => {
      if (response.ok) {
        return response.json()
      } else {
        showNotification('Ошибка добавления в корзину')
      }
    })
    .then(data => {
      const addToCartBtn = document.getElementById('add-to-cart-btn1');
      const quantityCounter = document.querySelector('.quantity-counter');
      const quantityValueSpan = document.querySelector('.quantity-value');
      showNotification(data.message);
      quantity = data.quantity;
      if (quantity === 0) {
        addToCartBtn.classList.remove('is-hidden');
        quantityCounter.classList.add('is-hidden');
      } else if (quantity > 0) {
        addToCartBtn.classList.add('is-hidden');
        quantityCounter.classList.remove('is-hidden');
        quantityValueSpan.textContent = `${quantity} in cart`;
      } else {
        addToCartBtn.classList.add('is-hidden');
        quantityCounter.classList.add('is-hidden');
      }
    })
    .catch(err => console.error('Error:', err));
  }

  function showNotification(text) {
    // 1. Создаем элемент
    const msg = document.createElement('div');
    msg.className = 'alert-message';
    msg.innerText = text;
    document.body.appendChild(msg);

    // 2. Делаем его видимым (с небольшой задержкой для срабатывания CSS transition)
    setTimeout(() => msg.classList.add('show'), 10);

    // 3. Через 3 секунды начинаем исчезновение
    setTimeout(() => {
        msg.classList.remove('show');
        
        // 4. После завершения анимации (0.5с) полностью удаляем из DOM
        setTimeout(() => msg.remove(), 500);
    }, 2000);
}
  // "Add to Cart" Button and Counter
  /*
  const cartControls = document.querySelector('.cart-controls');
  if (cartControls) {
      const addToCartBtn = cartControls.querySelector('#add-to-cart-btn');
      const quantityCounter = cartControls.querySelector('#quantity-counter');
      const decreaseBtn = quantityCounter.querySelector('[data-action="decrease"]');
      const increaseBtn = quantityCounter.querySelector('[data-action="increase"]');
      const quantityValueSpan = quantityCounter.querySelector('.quantity-value');
      let quantity = 0;
      function updateView() {
          if (quantity === 0) {
              addToCartBtn.classList.remove('is-hidden');
              quantityCounter.classList.add('is-hidden');
          } else {
              addToCartBtn.classList.add('is-hidden');
              quantityCounter.classList.remove('is-hidden');
              quantityValueSpan.textContent = `${quantity} in cart`;
          }
      }
      addToCartBtn.addEventListener('click', function() { quantity = 1; updateView(); });
      decreaseBtn.addEventListener('click', function() { if (quantity > 0) { quantity--; updateView(); } });
      increaseBtn.addEventListener('click', function() { quantity++; updateView(); });
      updateView();
  }*/
</script>
    <!-- Technical Specifications Accordion -->
    <section class="accordion-section">
      <div class="accordion-item">
        <div class="accordion-title">
          <h3>Technical Specifications</h3>
          <i class="fa-solid fa-chevron-down accordion-icon"></i>
        </div>
        <div class="accordion-content">
          <ul>
            <li><strong>Strain Type:</strong> Ale</li>
            <li><strong>Flocculation:</strong> Medium</li>
            <li><strong>Attenuation:</strong> 73-77%</li>
            <li><strong>Temperature Range:</strong> 62-72°F (17-22°C)</li>
            <li><strong>Alcohol Tolerance:</strong> 10% ABV</li>
            <li><strong>Flavor Profile:</strong> Balanced, slightly fruity, hints of citrus and stone fruit.</li>
            <li><strong>Cell Count:</strong> ~200 Billion Cells</li>
            <li><strong>Recommended Beer Styles:</strong> American Pale Ale, IPA, Double IPA, Porter, Stout, Amber Ale</li>
          </ul>
        </div>
      </div>
    </section>

    <!-- Latest Reviews Section -->
    <section class="reviews-section">
      <h2 class="reviews-title">Latest reviews</h2>
      <div class="reviews-grid">
        {% for review in reviews %}
         <div class="review-card">
          <div class="review-rating">
            {% for i in max_rating %}
            {% if i < review.rating %}
            <i class="fa-solid fa-star"></i>
            {% else %}
            <i class="fa-regular fa-star"></i>
            {% endif %}
            {% endfor %}
          </div>
          <div class="review-body">
            <h4 class="review-heading">{{review.name}}</h4>
            <p class="review-text">{{review.comment}}</p>
          </div>
          <div class="review-author">
            <!--TODO:сделать аватары-->
            <img src="{% static "img/avatars/avatar"%}{{forloop.counter}}.svg" alt="User avatar" class="author-avatar">
            <span class="author-name">{{review.user}}</span>
          </div>
        </div>
        {% empty %}
        <div class="review-card">
          No reviews yet. Be the first to review this product.
        </div>
        {% endfor %}
      </div>
    </section>
  </div>
</main>
{% endblock %}