{% extends "base.html" %}
{% load static %}
{% block title%}Sign In | Hop & Barley{% endblock %}
{% block content %}
<main class="auth-page-wrapper">
  <div class="auth-background">
    <img src="{% static 'img/background/pattern.jpg' %}" alt="Background pattern">
  </div>
  <div class="auth-form-container">
    <div class="auth-container auth-container--login">
      <div class="Legend">
        <h1 class="auth-title">Sign In</h1>
      </div>

      <form method="post" action="{% url 'users:login' %}" class="auth-form" id="login-form1">
        {% csrf_token %}
        {# Ошибки, если логин/пароль не подошли #}
        {% if form.non_field_errors %}
          <div class="auth-errors">
            {{ form.non_field_errors }}
          </div>
      {% endif %}
        <div class="InputField">
          <label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
          {{ form.email }}
          {{ form.email.errors }}
        </div>
        <div class="InputField">
          <label for="{{ form.password.id_for_label }}">{{ form.password.label }}</label>
          {{ form.password }}
          {{ form.password.errors }}
        </div>
        <div class="CheckboxField">
          <label for="{{ form.remember_me.id_for_label }}" class="checkbox-container">{{ form.remember_me.label }}
            {{ form.remember_me }}
            <span class="checkmark"></span>
          </label>
        </div>
        <div class="ButtonGroup">
          <button type="submit" class="button button--primary">Sign In</button>
        </div>
      </form>

        <div class="TextLink">
          <a href="{% url 'users:forgot' %}">Forgot password?</a>
        </div>

      <p class="auth-switch">Don’t have an account? <a href="{% url 'users:register' %}">Sign up</a></p>
    </div>
  </div>
</main>
{% endblock %}